@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;700&family=Cute+Font&family=Just+Another+Hand&family=Labrada&family=Pacifico&family=Qwitcher+Grypen&display=swap');
:root {
    --cor--primaria:#253C59;
    --cor--segundaria:  #99B4BF;
    --cor--tercearia:#D9B70D;
    --fonte--primaria: 'Lobster', sans-serif;
    --fonte--secundaria:'Labrada', serif;
    --fonte--tercearia: 'Caveat', cursive ;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    image-rendering: optimizeQuality;
    color: var(--cor--primaria);
    background-size:cover;
}

.cabesalho{
    padding: 2% 0% 0% 15% ;
    color: var(--cor--primaria);
}

.cabesalho__menu{
    display: flex;
    gap: 5rem;
    margin-bottom: 2rem;
}

.cabesalho__menu__link{
    font-family:var(--fonte--tercearia);
    color: var(--cor--tercearia);
    font-size: 2.3rem;
    font-weight: 800;
    text-decoration: none;
}
.cabesalho__menu__link:hover{
    color: var(--cor--segundaria);
    font-size: 2.5rem;
}

.apresentacao__texto{
    font-weight: 200;
    font-family: var(--fonte--primaria);
    color:var(--cor--tercearia);
}

.apresentacao__conteudo{
    top:20%;
    margin:auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

img{
   border: solid 0.2rem var(--cor--tercearia); 
   height: 93%;
   width: 70%;
}

img:hover{
    width: 75%;
    border: solid 0.2rem var(--cor--segundaria);
}

.apresentacao__links__link{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      text-align: center;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      padding: 0.125rem;
      text-decoration: none;
      color: var(--cor--tercearia);
      font-family:var(--fonte--primaria); 
      gap: 2.5rem;
}

.apresentacao__paragrafo{
    font-size: 2rem;
    margin-top: -3rem;
}

.roda-pe{
    color: var(--cor--tercearia);
    padding: 0.3rem;
    font-family: var(--fonte--tercearia);
    font-size: 1.56rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 1% 37.5% 0 37.5%;
}
.roda-pe:hover{
    color: var(--cor--secundaria);
    font-size: 1.62rem;
}

@media(max-width: 1200px){
    .cabesalho{
        margin: 1rem;
        padding: 1rem;
    }
    
    .cabesalho__menu{
        display: flex;
        justify-content: center;
        gap: 7rem;
    }
    
    .cabesalho__menu__link{
        font-size: 2.3rem;
        font-weight: 300;
        text-decoration: none;
    }
    .cabesalho__menu__link:hover{
        font-size: 2.3rem;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
      
    .roda-pe{
        margin:auto;
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
    }
    .roda-pe:hover{
        color: var(--cor--segundaria);
        font-size: 1rem;
    }
}

@media(max-width:800px){
    .cabesalho{
        margin: 1rem;
        padding: 1rem;
    }
    
    .cabesalho__menu{
        display: flex;
        justify-content: center;
        gap: 3rem;
    }
    
    .cabesalho__menu__link{
        font-size: 2rem;
        font-weight: 200;
        text-decoration: none;
    }
    .cabesalho__menu__link:hover{
        font-size: 2rem;
    }
    
    .apresentacao__texto{
        font-family: var(--fonte--primaria);
        color:var(--cor--tercearia);
        font-weight: 200;
    }
    
    .apresentacao__conteudo{
        top:40%;
        margin:auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    
    img{
       border: solid 0.2rem var(--cor--segundaria); 
       height: 30%;
       width: 100%;
    }
    
    img:hover{
        width: 100%;
        border: solid 0.2rem var(--cor--tercearia);
    }
    
    .apresentacao__links__link{
          gap: 0.5rem;
          width: 70%;
          text-align: center;
          font-size: 1rem;
          font-weight: 100;
          padding: 0rem;
          gap: 1rem;
    }

    .apresentacao__paragrafo{
        font-size: 2rem;
        font-weight: 100;
        color: var(--cor--tercearia);
        padding-top: 0;
        padding-bottom: 1rem;
        margin-top: -1.4rem;
    }
    
    .roda-pe{
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0;
    }
    .roda-pe:hover{
        color: var(--cor--secundaria);
        font-size: 1.5rem;
    }
}

@media(max-width:400px){
     .cabesalho{
        margin: 1rem;
        padding:1rem ;
        color: var(--cor--primaria);
    }
    
    .cabesalho__menu{
        display: flex;
        justify-content: center;
        gap: 1.7rem;
    }
    
    .cabesalho__menu__link{
        font-family:var(--fonte--tercearia);
        color: var(--cor--tercearia);
        font-size: 1.8rem;
        font-weight: 100;
        text-decoration: none;
    }
    .cabesalho__menu__link:hover{
        color: var(--cor--segundaria);
        font-size: 1.8rem;
    }
    
    .apresentacao__texto{
        font-family: var(--fonte--primaria);
        color:var(--cor--tercearia);
        font-weight: 100;
    }
    
    .apresentacao__conteudo{
        top:30%;
        margin:auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    
    img{
       border: solid 0.2rem var(--cor--tercearia); 
       height: 30%;
       width: 100%;
    }
    
    img:hover{
        width: 70%;
        border: solid 0.2rem var(--cor--secundaria);
    }
    
    .apresentacao__links__link{
          gap: 0.1rem;
          width: 70%;
          text-align: center;
          font-size: 1rem;
          font-weight: 100;
          padding: 0rem;
          gap: 1.2rem;
    }

    .apresentacao__paragrafo{
        font-size: 1.3rem;
        color: var(--cor--tercearia);
        padding-top: 0;
        padding-bottom: 1rem;
        margin-top: -1.3rem;
    }
    
    .roda-pe{
        font-size: 1rem;
        font-weight: 100;
        margin: 0;
    }
    .roda-pe:hover{
        color: var(--cor--secundaria);
        font-size: 1rem;
    }
}
