@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;700&family=Cute+Font&family=Just+Another+Hand&family=Labrada&family=Pacifico&family=Qwitcher+Grypen&display=swap');
:root {
    --cor--primaria:#253C59;
    --cor--segundaria:  #99B4BF;
    --cor--tercearia:#D9B70D;
    --fonte--primaria: 'Lobster', sans-serif;
    --fonte--secundaria:'Labrada', serif;
    --fonte--tercearia: 'Caveat', cursive ;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    image-rendering: optimizeQuality;
    color: var(--cor--primaria);
    background-size:cover;
}

.cabesalho{
    padding: 2% 0% 0% 15% ;
    color: var(--cor--primaria);
}

.cabesalho__menu{
    display: flex;
    gap: 5rem;
}

.cabesalho__menu__link{
    font-family:var(--fonte--tercearia);
    color: var(--cor--tercearia);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}
.cabesalho__menu__link:hover{
    color: var(--cor--segundaria);
    font-size: 1.7rem;
}

.apresentacao__texto{
    font-family: var(--fonte--primaria);
    color:var(--cor--tercearia);
}

.apresentacao__conteudo{
    top:20%;
    margin:auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

img{
   border: solid 0.2rem var(--cor--segundaria); 
   height: 10%;
   width: 60%;
}

img:hover{
    width: 65%;
    border: solid 0.2rem var(--cor--tercearia);
}

.apresentacao__links__link{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      text-align: center;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      padding: 0.125rem;
      text-decoration: none;
      color: var(--cor--segundaria);
      font-family:var(--fonte--primaria); 
}

.roda-pe{
    color: var(--cor--tercearia);
    padding: 0.3rem;
    font-family: var(--fonte--tercearia);
    font-size: 1.56rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 1% 37.5% 0 37.5%;
}
.roda-pe:hover{
    color: var(--cor--secundaria);
    font-size: 1.62rem;
}

@media(max-width: 1200px){
   
   .cabesalho{
    padding: 10%;
   }
    .cabesalho__menu{
        justify-content: center; 
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .roda-pe{
        font-size: small;
        justify-content: center;
        margin: auto;
    }
}