@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;700&family=Cute+Font&family=Just+Another+Hand&family=Labrada&family=Pacifico&family=Qwitcher+Grypen&display=swap');
:root {
    --cor--primaria:#253C59;
    --cor--segundaria: #99B4BF;
    --cor--tercearia:#D9B70D;
    --fonte--primaria: 'Lobster', sans-serif;
    --fonte--secundaria:'Labrada', serif;
    --fonte--tercearia: 'Caveat', cursive ;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    image-rendering: optimizeQuality;
    color: var(--cor--tercearia);
    background-size:cover;
}
.cabesalho{
    padding: 2% 0% 0% 15% ;
    color: var(--cor--primaria);
}

.cabesalho__menu{
    display: flex;
    gap: 5rem;
}

.cabesalho__menu__link{
    font-family:var(--fonte--tercearia);
    color: var(--cor--tercearia);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}
.cabesalho__menu__link:hover{
    color: var(--cor--segundaria);
    font-size: 1.7rem;
}

.foto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid;
    border-color: var(--cor--tercearia);
    border-radius: 625rem;
    width: 20%;
}
.destaque__texto{
    color: var(--cor--segundaria);
}

.apresentacao__conteudo{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.apresentacao__conteudo__texto{
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family:var(--fonte--secundaria);
    margin: 1rem;
}

.apresentacao__links__subtitulo{
    font-family:var(--fonte--primaria);
    font-weight: 400;
    font-size: 1.5rem;
    color:var(--cor--tercearia);
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.apresentacao__links__link{
      gap: 1rem;
      border: 0.1rem solid var(--cor--tercearia);
      width: 30%;
      text-align: center;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      text-decoration: none;
      color: var(--cor--tercearia);
      font-family:var(--fonte--primaria); 
}
.apresentacao__links__link:hover{
    font-size: 1.75rem;
    background-color:var(--cor--tercearia);
    font-weight: 900;
    color: var(--cor--segundaria);
}

.roda-pe{
    padding: 0.3rem;
    font-family: var(--fonte--tercearia);
    font-size: 1.56rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 0 37.5% 0 37.5%;
}
.roda-pe:hover{
    color: var(--cor--segundaria);
    font-size: 1.62rem;
}

@media(max-width: 1200px){
   
   .cabesalho{
    padding: 10%;
   }
    .cabesalho__menu{
        justify-content: center; 
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .roda-pe{
        font-size: small;
        justify-content: center;
        margin: auto;
    }
}